.banner__wrapper {
    padding: 0 110px; 
    margin-top: 129px;
  } 
  
  .banner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #EEE4DB;
  }
  
  .banner__switch {
    padding: 18px 0 0 28px;  
  }
  
  .banner__slide-switch {
    line-height: 14px;
  }
  
  .banner__slide-number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 60px;
    line-height: 74px;
    color: rgba(30, 6, 6, 0.05);
  }
  
  .switch__btn {
    margin-left: 3px;
    width: 31px;
    height: 3px;
    border: none;
    background: #D6CAC2;
  }
  .btn-active {
    background: #725F5B;
  }
  
  .switch__btn:hover {
    cursor: pointer;
    background: #725F5B;
  }
  
  .banner__slide {
    padding-left: 44px;
    padding-top: 92px;
    padding-bottom: 89px;
  }
  
  .banner__slide-img {
    position:absolute;
    top: -21.5%;
    right: 8.3%;   
  }
  
  .banner__slide-title {
    margin: 0;
    max-width: 307px;
  }
  
  .banner__slide-info {
    margin: 17px 0 20px 0;
    font-family: 'Crimson Text', 'Times New Roman', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
  }
  
  .banner__delivery-info {
    margin: 0 auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    background: #C29974;
  }
  