.banner__wrapper {
    padding: 0 110px; 
    margin-top: 129px;
  } 
  
  .banner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #EEE4DB;
    &__inner {
      padding: 18px 0 0 28px;  
    }
    &__slide-number {
      font-family: $montserrat;
      font-weight: 200;
      font-size: 60px;
      line-height: 74px;
      opacity: 0.05;
    }
    &__switch {
      line-height: 14px;
    }
    &__switch-btn {
      margin-left: 3px;
      width: 31px;
      height: 3px;
      border: none;
      background: #D6CAC2;
      transition: 0.4s;
    }
    &__switch-btn:hover {
      cursor: pointer;
      background: #725F5B;
    }
    &__switch-btn--active {
      background: #725F5B;
    }
    &__slide {
      padding-left: 44px;
      padding-top: 92px;
      padding-bottom: 89px;
    }
    &__title {
      margin: 0;
      max-width: 307px;
    }
    &__subtitle {
      margin: 17px 0 20px 0;
      font-family: $crimson-text;
      font-style: italic;
      font-size: 20px;
      line-height: 26px;     
    }
    &__img {
      position:absolute;
      top: -21.5%;
      right: 8.3%;   
    }
    &__delivery-info {
      margin: 0 auto;
      width: 100%;
      font-weight: bold;
      font-size: 12px;
      line-height: 40px;
      text-align: center;
      color: $white;
      background: $secondary;
    }
  }