.blog__item {
    max-width: 380px;
}

.blog__item-img {
    margin-bottom: 20px;
}

.blog__item-date {
    margin-bottom: 7px;
    color: #818181;
}

.blog__item-title {
    font-family: $montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}

.blog__item-title:hover, .blog__item-title:active {
    text-decoration-line: underline;
}

.blog__item-text {
    font-family: $open-sans;
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
}