.button {
  @include elem-flex-center;
    padding: 0 22px;
    text-transform: uppercase;
    font-family: $open-sans;
    font-weight: bold;
    line-height: 22px;
    color: $white;
    min-height: 40px;
    background: $black;
    margin-right: auto;
    transition: 0.4s;
  }
  
  .button:hover {
    cursor: pointer;
    background: $secondary;
  }
  
  .button:active {
    background: $elem-active;
  }
  
  .button:disabled {
    background: $elem-disabled;
  }