.footer {
  background: $footer-bg;
  &__free-columns {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom:1px solid #666666;
  }
  &__column {
    width: calc(1/3*100% - (1 - 1/3)*20px);
    padding-bottom: 13px;
  }
  &__subtitle {
    height: 44px;
    color:#AAAAAA;
    border-bottom: 1px solid #666666;
    margin-bottom: 30px;
  }
  &__subtitle--dist {
    margin-bottom: 25px;
  }
  &__form {
    margin-top: 25px;
    display: flex;
    height: 40px;
  }
  &__input {
    border-style: none;
    width: 287px;
    padding-left: 15px;
    background-color:#666666;
    transition: 0.4s;
  }
  &__input::placeholder {
    content:"Email";
    color:#EBEBEB;
  }
  &__input:hover, &__input:active, &__input:focus {
    border: 1px solid #FFFDFD;
    outline: none;
  }
  &__connect-list {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  &__connect-link {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #666666;
    background-repeat:no-repeat;
    background-position:center;
    background-size: 50% 50%;
  }
  &__connect-link:hover {
    opacity: 0.5;
  }
  &__connect-link:active {
    opacity: 0.2;
  }
  &__inner {
    padding-top: 22px;
    padding-bottom: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__copyright {
    color: $white;
  }
  &__designer {
    font-size: 16px;
    line-height: 22px;
    color: #A2A2A2;
  }
  &__designer:hover, &__designer:active {
    text-decoration-line: underline;
    color: $white; 
  }
}

.icon-facebook {
  background-image: url('../img/icons/facebook.svg'); 
}

.icon-twitter {
  background-image: url('../img/icons/twitter.svg'); 
}

.icon-pinterest {
  background-image: url('../img/icons/pinterest.svg'); 
}

.icon-instagram {
  background-image: url('../img/icons/instagram.svg'); 
}

.rating {
  display: flex;
  &__group {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    font-size: 16px;
    font-family: $open-sans;
    line-height: 22px;
    width: 254px;
    margin-left: -2px;
    color: $white;
  }
  &__group:hover, &__group:active {
    color: $secondary;
  }
  &__input {
    position: absolute;
    display: none;
    top: 3px;
    left: 0;
    width: 17px;
    height: 16px;
    font-size: inherit;
  }
  &__input:nth-of-type(5) {
    width: 20px;
    z-index: 5;
  }
  &__input:nth-of-type(4) {
    width: 40px;
    z-index: 4;
  }
  &__input:nth-of-type(3) {
    width: 60px;
    z-index: 3;
  }
  &__input:nth-of-type(2) {
    width: 80px;
    z-index: 2;
  }
  &__input:nth-of-type(1) {
    width: 100px;
    z-index: 1;
  }
  &__star {
    width: 17px;
    height: 16px;
    margin-right: 3px;
    margin-top: 3px;
    background-image: url('../img/icons/star.svg');
    background-repeat:no-repeat;
    background-size:contain;
  }
  &__star:nth-of-type(5) {
    margin-left: 30px;
  }
  &__input:checked + &__star, 
  &__input:checked + &__star ~ &__star {
    background-image: url('../img/icons/star-on.svg');
    background-repeat:no-repeat;
    background-size:contain;
  }
  &__group > &__input:checked ~ &__star:hover,
  &__group > &__input:checked ~ &__star:hover ~ &__star,
  &__star:hover, 
  &__star:hover ~ &__input ~ &__star {
    background-image: url('../img/icons/star-hover.svg');
    background-repeat:no-repeat;
    background-size:contain;
  }  
}