.footer {
  background: #434343;
}

.free-column.wrapper {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom:1px solid #666666;
}
.free-column > .column {
  width: calc(1/3*100% - (1 - 1/3)*20px);
  padding-bottom: 13px;
}

.title {
  height: 44px;
  color:#AAAAAA;
  border-bottom: 1px solid #666666;
  margin-bottom: 30px;
}

.footer__item {
  margin: 15px 0;
}

.footer__link {
  color:#FFFFFF;
  font-size: 16px;
  line-height: 22px;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.5;
}
.footer__link:active {
  cursor: pointer;
  opacity: 0.2;
}

.footer__connect {
  margin-bottom: 25px;
}
.connect__form {
  display: flex;
  height: 40px;
}

.connect__input {
  border-style: none;
  width: 287px;
  padding-left: 15px;
  background-color:#666666;
}
.connect__input::placeholder {
  content:"Email";
  color:#EBEBEB;

}
.connect__input:hover, .connect__input:active, .connect__input:focus {
  border: 1px solid #FFFDFD;
  outline: none;
}

.connect__btn {
  min-width: 81px;
}

.footer__connect-list {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer__connect-link{
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #666666;
  background-repeat:no-repeat;
  background-position:center;
  background-size: 50% 50%;
}

.footer__connect-link:hover {
  opacity: 0.5;
  
}

.footer__connect-link:active {
  opacity: 0.2;
}

.footer__connect-link.icon-facebook {
  background-image: url('../img/icons/facebook.svg'); 
}

.footer__connect-link.icon-twitter {
  background-image: url('../img/icons/twitter.svg'); 
}

.footer__connect-link.icon-pinterest {
  background-image: url('../img/icons/pinterest.svg'); 
}

.footer__connect-link.icon-instagram {
  background-image: url('../img/icons/instagram.svg'); 
}

.box {
  padding-top: 22px;
  padding-bottom: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #FFFFFF;
}

.rating {
  display: flex;
}

.rating-group {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: normal;
  line-height: 22px;
  width: 254px;
  height: 16px;
  margin-left: -2px;
  color: #FFFFFF;
}

.rating__star:nth-of-type(5) {
  margin-left: 30px;
}

.rating-group:hover, .rating-group:active {
  color: #C29974;
}

.rating__input {
  position: absolute;
  display: none;
  top: 3px;
  left: 0;
  width: 17px;
  height: 16px;
  font-size: inherit;
}

.rating__star {
  width: 17px;
  height: 16px;
  margin-right: 3px;
  margin-top: 3px;
  background-image: url('../img/icons/star.svg');
  background-repeat:no-repeat;
  background-size:contain;
}

.rating__input:checked + .rating__star, 
.rating__input:checked + .rating__star ~ .rating__star {
  background-image: url('../img/icons/star-on.svg');
  background-repeat:no-repeat;
  background-size:contain;
}

.rating-group > .rating__input:checked ~ .rating__star:hover,
.rating-group > .rating__input:checked ~ .rating__star:hover ~ .rating__star,
.rating__star:hover, 
.rating__star:hover ~ .rating__input ~ .rating__star {
  background-image: url('../img/icons/star-hover.svg');
  background-repeat:no-repeat;
  background-size:contain;
}

.rating__input:nth-of-type(5) {
  width: 20px;
  z-index: 5;
}

main
.rating__input:nth-of-type(4) {
  width: 40px;
  z-index: 4;
}

.rating__input:nth-of-type(3) {
  width: 60px;
  z-index: 3;
}

.rating__input:nth-of-type(2) {
  width: 80px;
  z-index: 2;
}

.rating__input:nth-of-type(1) {
  width: 100px;
  z-index: 1;
}

.designer {
  font-size: 16px;
  line-height: 22px;
  color: #A2A2A2;
}

.designer:hover, .designer:active {
  text-decoration-line: underline;
  color: #FFFFFF; 
}
