
.header__menu-link:hover, .header > a:hover {
    opacity: 0.4;
  }
  
  .header__menu-link:active, .header > a:active {
    opacity: 0.2;
  }
  
  .header { 
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    flex: 0 1 auto;
  }
  
  .indent {
    margin-bottom: 60px;
  }
  
  .header__menu {
    display: flex;
    align-items:center;
    padding-left: 40px;
    flex-grow: 1;
  }
  
  .header__menu-list {
    display: flex; 
  }
  
  .header__menu-item {
    padding-left: 20px;
  }
    
  .header__contact-link {
    font-weight: bold;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
  }
  
  .header__contact-link:before {
    content: " ";
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 23px;
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
  }