.header { 
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  align-items:center;
  flex: 0 1 auto;
  @media (max-width: $media-tablet) {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  @media (max-width: $media-mobile-landscape) {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  &__logo {
    @media (max-width: $media-tablet) {
      width: 62px;
      height: 32px;
    }
    @media (max-width: $media-mobile) {
      width: 42px;
      height: 22px;
    }
  }
  &__menu {
    display: flex;
    align-items:center;
    padding-left: 40px;
    flex-grow: 1;
    @media (max-width: $media-tablet) {
      display: none;
    }
    &__list {
      display: flex; 
    }
  }
  &__menu-btn {
    @media (min-width: 769px) {
      display: none;
    }
    @media (max-width: $media-tablet) {
      @include elem-flex-center;
      flex-grow: 1;
      font-family: $open-sans;
      font-size: 14px;
      text-transform: uppercase;
      color: $primary-text;
      background-color: $white;
      transition: 0.4s;
    }
  }
  &__contact-link {
    font-weight: bold;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
    @media (max-width: $media-tablet) {
      display:none;
    }
  }
  &__contact-link:before {
    content: " ";
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 23px;
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    transition: 0.4s;
  }
  &__contact-link--media {
    @media (max-width: $media-tablet) {
      display:flex;
      align-items:center;
    }
    @media (max-width: $media-mobile) {
      margin-right: 8px;
    }
  }
  &__contact-icon {
    @media (min-width: 769px) {
    display: none;
  }
    @media (max-width: $media-tablet) {
      display:flex;
    }
    @media (max-width: $media-mobile) {
      width: 13px;
      height: 13px;
    }
  }
  & > a:hover {
    opacity: 0.4;
  }
  & > a:active {
    opacity: 0.2;
  }
  &__burger-wrapper {
    position: fixed;
      top: 0;
      left: 0;
      right: 0; 
      width: 100%;
      height: 100vh;
      z-index: 9;
      background: rgba(125, 151, 218, 0.8);
  }
  &__burger {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color:$white;
    animation: open-burger-menu linear 0.5s; 
  }
  &__burger-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 30px;
  }
  &__menu-btn--burger {
    margin-top: 3px;
    background-color:$white;
    transition: 0.4s;
    @media (min-width: 376px) {
      margin-left: -15px;
    }
  }
  &__menu-btn--burger:hover {
    cursor: pointer;
    opacity: 0.4;
  }
  &__burger-menu {
    padding: 25px 0;
  }
  &__burger-list {
    @include elem-flex-center;
    flex-direction: column;
    gap: 20px;
  }
}

.menu-btn:hover {
  cursor: pointer;
  opacity: 0.4;
}
.menu-btn:active {
  cursor: pointer;
  opacity: 0.2;
}

@keyframes open-burger-menu {
    0% {
      transform: translateY(-100%);    
    }
  100% {
    transform: translateY(0);    
  }
}

