.link {
  @include elem-flex-center;
  padding: 0 22px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 1px;
  color: $white;
  min-height: 40px;
  background: $black;
}

.link:hover {
  background: $secondary;
}

.link:active {
  background: $elem-active;
}

.link:disabled {
  background: $elem-disabled;
}

