.navigation {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 30px;
    margin-bottom: 56px;
  }
  
  .navigation div {
    display: flex;
    flex-direction: row;
    gap: 65px;
  }
  
  .nav__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .nav__link:hover {
    color: #AAAAAA;
  }
  
  .link--active {
    color: #C29974;
  }
  
  .nav__link-vector > path:hover {
    stroke: #C29974;
    stroke-opacity: 1;
  }
  
  .nav__link-vector > path:active {
    stroke: #C29974;
    stroke-opacity: 0.7;
  }
  