.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    min-height: 768px;
    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0; 
      width: 100%;
      min-height: 768px;
      z-index: 1;
      background: rgba(125, 151, 218, 0.8);
    }
    &__btn {
      margin-left: 10px;
      margin-top: 113px;
      align-self: flex-start;
      width: 15px;
      height: 15px;
      background-color: #97ACE1; 
      z-index: 2;
    }
    &__btn > svg:hover {
      cursor: pointer;
      opacity: 0.7;
    }
    &__btn > svg:active {
      opacity: 0.4;
    }
  }
  
  .form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 42px 40px;
    max-height: 542px;
    max-width: 680px;
    background: #E5EAF8;
    z-index: 2;
  }

  .left {
    margin-left: 22px;
  }
  
  .column__two-input {
    display: flex;
    gap: 20px;
  }
  
  .two-input {
    width:290px;
    margin: auto;
  }
  
  .popup__label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
  }
  
  .label__wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .label__wrapper > input {
    box-sizing:border-box;
    padding-left: 20px;
    border: 1px solid $elem-disabled;
    height: 50px;
  }
  
  .label__wrapper > textarea {
    box-sizing:border-box;
    padding-left: 20px;
    resize: none;
    border: 1px solid $elem-disabled;
  }
  
  .label__wrapper > input:focus,
  .label__wrapper > input:hover,
  .label__wrapper > input:active {
    outline: 1px solid $secondary;
  }
  
  .label__wrapper > textarea:focus,
  .label__wrapper > textarea:hover,
  .label__wrapper > textarea:active {
    outline: 1px solid $secondary;
  }
  
  .label__wrapper > input:disabled,
  .label__wrapper > textarea:disabled {
    outline: 1px solid #EBEBEB;
  }
  
  .checkbox__label {
    position: inherit;
    display: flex;
    align-items:center;
    margin-left: 34px;
  }
  
  .checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  
  .checkbox__label::after {
    content: ' ';
    position: absolute;
    margin-left: -34px;
    width: 17px;
    height: 17px;
    background-color:inherit; 
    border-radius: 3px;
    box-shadow: 0 0 0 2px $secondary;  
  }
  
  .checkbox__input:disabled + .checkbox__label::after {
    box-shadow: 0 0 0 2px #E1CDBA;
  }
  
  .checkbox__input:checked + .checkbox__label::after {
    background-color: $white;
    background-image: url('../img/icons/vector-check.svg');
    background-size:cover;
  }
  
  .no-scroll {
    overflow: hidden;
  }

  .popup.hidden {
    display: none;
  }