.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    min-height: 768px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    width: 100%;
    min-height: 768px;
    z-index: 1;
    background: rgba(125, 151, 218, 0.8);
  }
  
  .form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 42px 40px;
    max-height: 542px;
    max-width: 680px;
    background: #E5EAF8;
    z-index: 2;
  }
  
  .popup-closed {
    z-index: 2;
  }
  
  .left {
    margin-left: 22px;
  }
  
  .label__wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .column__two-input {
    display: flex;
    gap: 20px;
  }
  
  .two-input {
    width:290px;
    margin: auto;
  }
  
  .popup__label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
  }
  
  .label__wrapper > input {
    box-sizing:border-box;
    padding-left: 20px;
  }
  
  .label__wrapper > textarea {
    box-sizing:border-box;
    padding-left: 20px;
  }
  
  .label__wrapper > input {
    border: 1px solid #C7C1C1;
    height: 50px;
  }
  
  .label__wrapper > textarea {
    resize: none;
    border: 1px solid #C7C1C1;
  }
  
  .label__wrapper > input:focus,
  .label__wrapper > input:hover,
  .label__wrapper > input:active {
    outline: 1px solid #C29974;
  }
  
  .label__wrapper > textarea:focus,
  .label__wrapper > textarea:hover,
  .label__wrapper > textarea:active {
    outline: 1px solid #C29974;
  }
  
  .label__wrapper > input:disabled,
  .label__wrapper > textarea:disabled {
    outline: 1px solid #EBEBEB;
  }
  
  .label__checkbox {
    position: inherit;
    display: flex;
    align-items:center;
    margin-left: 34px;
  }
  
  .check__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  
  .label__checkbox::after {
    content: ' ';
    position: absolute;
    margin-left: -34px;
    width: 17px;
    height: 17px;
    background-color:inherit; 
    border-radius: 3px;
    box-shadow: 0 0 0 2px #C29974;  
  }
  
  .check__input:disabled + .label__checkbox::after {
    box-shadow: 0 0 0 2px #E1CDBA;
  }
  
  .check__input:checked + .label__checkbox::after {
    background-color:#FFFFFF;;
    background-image: url('../img/icons/vector-check.svg');
    background-size:cover;
  }
  
  .submit__btn {
    padding: 0 22px;
    margin-right: auto;
  }
  
  .btn {
    margin-left: 10px;
    margin-top: 113px;
    align-self: flex-start;
    width: 15px;
    height: 15px;
    background-color: #97ACE1; 
  }
  
  .btn-closed:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  
  .btn-closed:active {
    opacity: 0.4;
  }
  
  .visually-hidden, .popup.hidden {
    display: none;
  }
  
  .no-scroll {
    overflow: hidden;
  }