.products-card {
    position: relative;
    @include elem-flex-center;
    width: 280px;
    height: 270px;
    &__img {
      z-index: 0;
    }
    &__link {
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 190px;
      font-family: $montserrat;
      font-weight: bold;
      font-size: 26px;
      line-height: 32px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
      z-index: 1;
    }
    &__link:active, &__link:hover {
      cursor:pointer;
      text-decoration-line: underline;
    }
  }
  
.card_1 {
  background-color: #DBE4DB;
}

.card_2 {
  background-color: #EADDD3;
}

.card_3 {
  background-color: #F8F2DA;
}
.card_4 {
  background-color: #D5D4E1;
}

.card_5 {
  background-color: #F3D0DB;
}

.card_6 {
  background-color: #E5EAF8;
}