* {
  margin: 0;
  padding: 0;
}

body {
  color: $primary-text;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: $open-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $primary-text;
  transition: 0.4s;
}

h1 {
  font-family: $montserrat;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 48px;
  @media (max-width: $media-tablet) {
    font-size: 36px;
    line-height: 44px;
  }
  @media (max-width: $media-mobile-landscape) {
    font-size: 24px;
    line-height: 30px;
  }
}

h2 {
  font-family: $montserrat;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 46px;
  color: $primary-text;
  @media (max-width: $media-tablet) {
    font-size: 36px;
    line-height: 44px;
  }
  @media (max-width: $media-mobile-landscape) {
    font-size: 24px;
    line-height: 30px;
  }
}

p {
  font-family: $open-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $primary-text;
}

img {
  display: block;
  max-width: 100%;
}

fieldset {
  border: none;
  padding: 0;
}

button {
  border-style: none;
}

label {
cursor: pointer;
}
