@mixin no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin no-btn {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin elem-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin card-size-main-tablet {
  width: 259px;
  height: 249px;
}

@mixin card-size-main-mobile {
  width: 247px;
  height: 238px;
}

@mixin card-size-catalog-tablet {
  width: 203px;
  height: 196px;
}

@mixin card-size-catalog-mobile {
  width: 160px;
  height: 154px;
}

/* --- FONTS --- */

@mixin mobile-font-style {
  font-size: 14px;
  line-height: 20px;
}

@mixin lato-bold {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

@mixin lato-info {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

@mixin lato-description {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}