/*
  System font stack used as base sans-serif and monospace
  https://css-tricks.com/snippets/css/system-font-stack/
*/
$font-serif-family:
  system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 'Open Sans', 'Montserrat', "Helvetica Neue", Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

/*
  Themes fonts
*/
$montserrat: 'Montserrat', sans-serif;
$crimson-text: 'Crimson Text', serif;
$open-sans: 'Open Sans', sans-serif;

/*
* Breakpoints
*/

$media-tablet: 768px;
$media-tablet-landscape: 1024px;
$media-desktop: 1200px;
$media-mobile: 375px;

/*
* Colors
*/

$white: #FFFFFF;
$primary-text: #1E0606;
$black: #000000;
$footer-bg: #434343;
$elem-disabled: #C7C1C1;
$elem-active: #CFAF91;
$secondary: #C29974;
$bg-elem: rgba(112, 187, 220, 0.2);
$bg-blocks: #E1F0F7;

