.catalog__title {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 48px;
}

.products__list {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    column-gap: 20px;
    row-gap: 23px;
}

.products__item {
    position: relative;
    display:flex;
    align-items:center;
    justify-content: center;
    width: 280px;
    height: 270px;
}

.products__item.item-1 {
    background-color: #DBE4DB;
}

.products__item.item-2 {
    background-color: #EADDD3;
}

.products__item.item-3 {
    background-color: #F8F2DA;
}
.products__item.item-4 {
    background-color: #D5D4E1;
    margin-left: 200px;
}

.products__item.item-5 {
    background-color: #F3D0DB;
}

.products__item.item-6 {
    background-color: #E5EAF8;
}

.products__item-img {
    z-index: 0;
}

.products__link {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 190px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    z-index: 1;
}

.products__link:active, .products__link:hover {
    cursor:pointer;
    text-decoration-line: underline;
}

.product__description {
    box-sizing:border-box;
    margin-top: 55px;
    margin-bottom: 55px;
    padding-left: 200px;
    padding-right: 300px;
}

.product__title {
    margin-bottom: 25px;
}

.product__text {
    margin-bottom: 16px;
}