.contact {
    &__title {
        margin-top: 0;
        margin-bottom: 15px;
        line-height: 49px;
        text-transform: uppercase;
        word-spacing: 11px;
    }
    &__wrapper {
        margin-top: 50px;
        margin-bottom: 58px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (max-width: $media-tablet) {
            margin-top: 45px;
            flex-direction: column-reverse;
            align-items:center;
            row-gap: 45px;
        }
        @media (max-width: $media-mobile) {
            margin-top: 25px;
            row-gap: 25px;
          }
    }
    &__info {
        max-width: 380px;
        @media (max-width: $media-tablet) {
            text-align: center;
            max-width: 80%;
          }
          @media (max-width: $media-mobile-landscape) {
            text-align: center;
            max-width: 100%;
          }
    }
    &__info > p {
        margin-bottom: 20px;
        @media (max-width: $media-mobile) {
            @include mobile-font-style;
            margin-bottom: 15px;
          }
    }
    &__info > span {
        font-family: $montserrat;
        font-weight: 600;
        font-size: 26px;
        line-height: 34px;
        text-transform: uppercase;
        color: $secondary;
        @media (max-width: $media-mobile) {
            font-size: 24px;
          }
    }
    &__form--width {
        @media (max-width: 665px) {
            width: 100%;
        }
    }
}