@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/header";
@import "_blocks/header__menu__item";
@import "_blocks/footer";
@import "_blocks/footer__item";
@import "_blocks/button";
@import "_blocks/link";
@import "_blocks/popup";
@import "_blocks/banner";
@import "_blocks/breadcrumbs";
@import "_blocks/partners";
@import "_blocks/navigation.scss";
@import "_blocks/blog__item.scss";
@import "_blocks/products-card.scss";
@import "catalog";
@import "toys";
@import "blog";
@import "contact";
@import "fonts";


/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*** Category Products ***/

.products {
  margin-top: 90px;
  margin-bottom: 91px;
  &__list {
    margin-top: 30px;
    display: flex;
    max-width: 1180px;
    flex-wrap: wrap;
    gap: 20px;  
  }
  &__nav {
    display: flex;
    margin: 33px 0 0;
  }
  &__info {
    padding-left: 20px;
    margin: 0;
    max-width: 580px;
    line-height: 20px;
  }
}

.button-paginator {
  width: 38px;
  height: 37px;
  border: none;
  background-color: rgba(112, 187, 220, 0.2)
}

.btn-vector > path:hover {
  cursor: pointer;
  stroke: #C29974;
}

.btn-vector > path:active {
  stroke: rgba(194, 153, 116);
  opacity: 0.7; 
}

.btn-vector > path:disabled {
  stroke: rgba(30, 6, 6);
  opacity: 0.12; 
}

/*** SERVICES: DELIVERY ***/

.services {
  padding: 0 210px 0 110px;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  &__photo {
    background: rgba(112, 187, 220, 0.1);
  }
  &__inner {
    padding-top: 33px;
    max-width: 480px;
  }
  &__title {
    margin-bottom: 3px;
  }
  &__list {
    max-width: 267px;
  }
  &__item {
    margin-left: -60px;
    height: 55px;
  }
  &__item:hover {
    background: rgba(112, 187, 220, 0.1);
    cursor: pointer;
  }
  &__item--active {
    background: rgba(112, 187, 220, 0.2);
  }
  &__link {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 26px;
    line-height: 58px;
    padding-left: 60px;
  }
  &__link--open {
    font-weight: bold;
    font-size: 28px;
  }
  &__content {
    margin-top: 20px;
  }
  &__delivery {
    box-sizing: content-box;
    line-height: 22px;
    padding-bottom: 18px;
  }
}

.services__link-more {
  margin-top: 5px;
  width: 22%;
}

/*** DLK CONTACTS ***/

.two-column {
  padding-top: 27px;
  display: flex;
  margin-bottom: 155px;
}

.title {
  margin-left: 30px;
  margin-top: -25px;
}

.about {
  max-width: 543px;
  min-height: 228px;
  background-color:#E1F0F7;
  margin-right: 56px;
  &__link {
    margin-left: 30px;
    font-family: 'Crimson Text';
    font-style: italic;
    font-size: 26px;
    line-height: 48px;
  }
  &__info {
    margin: 5px 30px;
  }
  &__buy-link {
    margin-top: 20px;
    margin-left: 30px;
    width: 15%;
  }
}

.contacts {
  width: 543px;
  height: 209px;
  background-color:#E1F0F7;
  &__info {
    margin: 20px 30px;
  }
  &__map {
    margin: 10px 30px;
  }
}
