.toys {
    &__title {
        margin-bottom: 20px;
        @media (max-width: $media-tablet) {
            margin-bottom: 10px;
            margin-top: 70px;
        }
        @media (max-width: $media-mobile-landscape) {
            margin-bottom: 10px;
            margin-top: 46px;
        }
    }
    &__content {
        margin-top: 61px;
        @media (max-width: $media-tablet) {
            margin-top: 50px;
        }
        @media (max-width: $media-mobile-landscape) {
            margin-top: 40px;
        }
    }
    &__list {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
        @media (max-width: $media-tablet) {
            row-gap: 10px;
            column-gap: 20px;
        }
        @media (max-width: $media-mobile-landscape) {
            column-gap: 15px;
        }
    }
    &__nav {
        margin-top: 42px;
        @media (max-width: $media-tablet) {
            margin-top: 30px;
        }
        @media (max-width: $media-mobile-landscape) {
            margin-top: 20px;
        }
    }
}
