.toys__title {
    margin-bottom: 20px;
    }
    
    .filter {
        margin-top: 50px;
        padding-top: 42px;
        padding-bottom: 25px;
        background: rgba(125, 151, 218, 0.2);
    }
    
    .filter__form {
        display: flex;
        flex-direction: row;
    }
    
    .filter__subtitle {
        font-family: 'Open Sans',sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #1E0606; 
        margin-bottom: 15px;
    }
    
    .label {
        font-family: 'Open Sans';
        line-height: 22px;
        font-weight: normal;
        font-size: 16px;
    }
    
    /*** COST ***/
    
    .filter__cost {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .range-label {
        margin-top: 5px;
        word-spacing: 165px;
    }
    
    .range-field {
        margin-left: 5px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        width: 188px;
        height: 4px;
        border: none;
        background: rgba(0, 0, 0, 0.5);
        background-image: linear-gradient(#C29974, #C29974);
        background-size: 20% 100%;
        background-repeat: no-repeat;
    }
    
    .range-field::-webkit-slider-runnable-track  {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }
    
     .range-field::-moz-range-thumb {
        -moz-appearance: none;
        appearance: none;
        width:8px;
        height: 8px;
        background: #FFFFFF;
        border-radius: 50%;
        border: 8px solid rgba(194, 153, 116, 1);
        cursor: pointer;
    }
    
    .range-field::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 24px;
        height: 24px;
        background: #FFFFFF;
        border-radius: 50%;
        border: 8px solid rgba(194, 153, 116, 1);
        cursor: pointer;
    }
        
    .range-field::-moz-range-progress {
        background: rgba(194, 153, 116, 1);
    }
    
    /*** COLOR ***/
    
    .filter__color {
        margin-left: 97px;
    }
    
    .checkbox__item {
        margin-bottom: 15px;
    }
    
    .check__input:disabled + .label__checkbox.ind {
        color: #908484;
    }
    
    .check__input:hover + .label__checkbox.ind, 
    .check__input:active + .label__checkbox.ind {
        text-decoration-line: underline;
    }
    
    /*** DELIVERY ***/
    
    .filter__delivery {
        margin-left: 124px;
    }
    
    .delivery__item {
        margin-bottom: 10px;
    }
    
    .label__delivery {
        position: inherit;
        display: flex;
        align-items:center;
        margin-left: 30px;
    }
    
    .radio__input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    
    
    .label__delivery::after {
        content: '';
        position: absolute;
        margin-left: -30px;
        width: 17px;
        height: 17px;
        background-color:inherit; 
        border-radius: 50%;
        border: 2px solid #C29974; 
    }
    
    .radio__input:disabled + .label__delivery::after {
        border: 2px solid #E1CDBA;
    }
    
    .radio__input:disabled + .label__delivery {
        color: #908484;
    }
    
    .radio__input:checked + .label__delivery::after {
        background-color:#C29974;
        box-shadow: inset 0 0 0 3px #FFFFFF;
    }
    
    .radio__input:active + .label__delivery,
    .radio__input:hover + .label__delivery {
        text-decoration-line: underline;
    }
    
    /*** AMOUNT ***/
    
    .filter__amount {
        margin-left: 70px;
        margin-right: 60px;
    }
    
    .amount__input_wrapper {
        display: flex;
        justify-content: center;
        align-items:center;
        background-color: #FFFFFF;
    }
    
    .amount__input_wrapper > div {
        display: flex;
        justify-content: center;
        align-items:center;
        width: 80px;
        height: 35px;
    }  
    
    .amount__label {
        display: flex;
        justify-content: center;
        align-items:center;
        width: 80px;
        height: 35px;
    }
    
    
    .amount__input {
        position: absolute;
        display: none;
        width: 35px;
        height: 35px;
    }
    
    .amount__input:checked + .amount__label {
        background: #F3D0DB;
    }
    
    /* Уточнить поведение hover */
    
    .amount__label:hover {
        background: #EDDEEB;
        color: #877379;
        cursor:pointer;
    }
    
    .filter__apply {
        height: 40px;
        margin-top: 35px;
    }
    
    /*** TOYS ***/
    
    .toys__content {
        margin-top: 61px;
    }
    
    .toys__content_list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    
    .toys__content_item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .item__link {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 21%;
        left: 23%;
        width: 207px;
        height: 207px;
        background-color: #E5EAF8;
        opacity: 0; 
    
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 26px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        color: #1E0606;
        text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    }
    
    .item__img:hover + .item__link, .item__link:hover {
        opacity: 0.9; 
    }
    
    .item__img:active + .item__link, .item__link:active {
        opacity: 0.67;
    }
    
    .item__img {
        margin-bottom: 30px;
    }
    
    .item__discription {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    
    .item__cost {
        font-weight: bold;
        margin-bottom: 28px;
    }
    
    .toys__content_nav {
        margin-top: 42px;
        margin-bottom: 58px;
    }
    