.toys {
    &__title {
        margin-bottom: 20px;
    }
    &__content {
        margin-top: 61px;
    }
    &__list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    &__nav {
        margin-top: 42px;
        margin-bottom: 58px;
    }
}
