<main class="banner__wrapper container">
    <section class="banner">
        <div class="banner__inner">
            <span class="banner__slide-number">01</span>
            <ul class="banner__switch">
                <li><button class="banner__switch-btn banner__switch-btn--active" aria-label="slide-one" type="button"></button></li>
                <li><button class="banner__switch-btn" aria-label="slide-two" type="button"></button></li>
                <li><button class="banner__switch-btn" aria-label="slide-three" type="button"></button></li>
                <li><button class="banner__switch-btn" aria-label="slide-four" type="button"></button></li>
            </ul>
        </div>
        <div class="banner__slide">
            <h1 class="banner__title">THE OOH NOO COLLECTION</h1>
            <p class="banner__subtitle">Designed in Slovenia</p>
            @@include('blocks/button.html',
            {"additionalclass": "banner__btn",
            "buttonType": "button",
            "buttonName": "explore now",
            "buttonTab": "0"})
        </div>
        <picture>
            <source srcset="./img/monster-tablet.png" media="(min-width: 426px) and (max-width: 880px)">
            <source srcset="./img/monster-mobile.png" media="(max-width: 425px)">
            <img class="banner__img" src="./img/monster.png" alt="monster">
        </picture>
    </section>
    <p class="banner__delivery-info">FREE (CONTIENENTAL) USA SHIPPING ON ALL ORDERS OFF $100 USD OR MORE!</p>
</main>