<footer class="footer">
  <div class="container">
      <div class="footer__free-columns">
          <section class="footer__column">
              <h2 class="visually-hidden">Navigation</h2>
              <p class="footer__subtitle">Navigation</p>
              <ul class="footer__list">
                <div class="footer__list-inner">
                    @@include('blocks/footer__item.html',
                    {"footerLinkPath": "#",
                    "footerLinkname": "About Us"})
                    @@include('blocks/footer__item.html',
                    {"footerLinkPath": "./blog.html",
                    "footerLinkname": "Blog"})
                    @@include('blocks/footer__item.html',
                    {"footerLinkPath": "#",
                    "footerLinkname": "Design Services"})
                </div>
                <div class="footer__list-inner">
                    @@include('blocks/footer__item.html',
                    {"footerLinkPath": "#",
                    "footerLinkname": "Featured On"})
                    @@include('blocks/footer__item.html',
                    {"footerLinkPath": "#",
                    "footerLinkname": "2018 Holiday Catalog"})
                    @@include('blocks/footer__item.html',
                    {"footerLinkPath": "#",
                    "footerLinkname": "Shop By Designer"})
                </div>
              </ul>
          </section>
          <section class="footer__column">
              <h2 class="visually-hidden">Customer Information</h2>
              <p class="footer__subtitle">Customer Information</p>
              <ul class="footer__list">
                <div class="footer__list-inner">
                    @@include('blocks/footer__item.html',
                    {"footerLinkPath": "./contact.html",
                    "footerLinkname": "Contact Us"})
                    @@include('blocks/footer__item.html',
                    {"footerLinkPath": "#",
                    "footerLinkname": "Sale Exclusions"})
                    @@include('blocks/footer__item.html',
                    {"footerLinkPath": "#",
                    "footerLinkname": "Shipping & Returns"})
                </div>
                <div class="footer__list-inner">
                    @@include('blocks/footer__item.html',
                    {"footerLinkPath": "#",
                    "footerLinkname": "Terms & Conditions"})
                    @@include('blocks/footer__item.html',
                    {"footerLinkPath": "#",
                    "footerLinkname": "Privacy Policy"})
                    @@include('blocks/footer__item.html',
                    {"footerLinkPath": "#",
                    "footerLinkname": "Search"})
                </div>
              </ul>
          </section>
          <section class="footer__column">
              <h2 class="visually-hidden">Connect</h2>
              <p class="footer__subtitle footer__subtitle--dist">Connect</p>
              <form class="footer__form" method="post">
                  <input class="footer__input" type="email" name="email" placeholder="Email">
                  @@include('blocks/button.html',
                    {"additionalclass": "connect__btn",
                    "buttonType": "submit",
                    "buttonName": "Join",
                    "buttonTab": "false"})
              </form>
              <ul class="footer__connect-list">
                  <li class="footer__connect-item"><a class="footer__connect-link icon-facebook" href="https://facebook.com/" aria-label="share on facebook"></a></li>
                  <li class="footer__connect-item"><a class="footer__connect-link icon-twitter" href="https://twitter.com/" aria-label="share on twitter"></a></li>
                  <li class="footer__connect-item"><a class="footer__connect-link icon-pinterest" href="https://pinterest.com/" aria-label="share on pinterest"></a></li>
                  <li class="footer__connect-item"><a class="footer__connect-link icon-instagram" href="https://instagram.com/" aria-label="share on instagram"></a></li>
              </ul>
          </section>
      </div>
      <div class="footer__inner">
      <section class="footer__column rating">
          <h2 class="visually-hidden">Company Rating</h2>
          <div class="rating__group">
              <input class="rating__input" type="radio" name="star" id="star-5" value="5">
              <label class="rating__star" aria-label="terribly" for="star-5"></label>

              <input class="rating__input" type="radio" name="star" id="star-4" value="4">
              <label class="rating__star" aria-label="below average" for="star-4"></label>

              <input class="rating__input" type="radio" name="star" id="star-3" value="3">
              <label class="rating__star" aria-label="acceptable" for="star-3"></label>

              <input class="rating__input" type="radio" name="star" id="star-2" value="2">
              <label class="rating__star" aria-label="good" for="star-2"></label>

              <input class="rating__input" type="radio" name="star" id="star-1" value="1">
              <label class="rating__star" aria-label="excellent" for="star-1"></label>
              Company Rating
          </div> 
      </section>
      <p class="footer__column footer__copyright">Copyright &copy; 2018 Dlk • Design Life Kids</p>
      <a class="footer__column footer__designer" href="https://directline.digital/" target="_blank">Web Design — Direct Line Development</a>
      </div>
      </div>
</footer>
