<footer class="footer">
  <div class="container">
      <div class="free-column wrapper ">
          <section class="footer__nav column">
              <h2 class="visually-hidden">Navigation</h2>
              <p class="footer__nav-list title">Navigation</p>
              <ul class="footer__nav-list">
                  <li class="footer__item"><a class="footer__link" href="#">About Us</a></li>
                  <li class="footer__item"><a class="footer__link" href="./blog.html">Blog</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Design Services</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Featured On</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">2018 Holiday Catalog</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Shop By Designer</a></li>
              </ul>
          </section>
          <section class="footer__info column">
              <h2 class="visually-hidden">Customer Information</h2>
              <p class="footer__info title">Customer Information</p>
              <ul class="footer__info_list">
                  <li class="footer__item"><a class="footer__link" href="#">Contact Us</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Sale Exclusions</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Shipping & Returns</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Terms & Conditions</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Privacy Policy</a></li>
                  <li class="footer__item"><a class="footer__link" href="#">Search</a></li>
              </ul>
          </section>
          <section class="column">
              <h2 class="visually-hidden">Connect</h2>
              <p class="footer__connect title">Connect</p>
              <form class="connect__form" method="post">
                  <input class="connect__input" type="email" name="email" placeholder="Email">
                  @@include('blocks/button.html',
                    {"additionalclass": "connect__btn",
                    "buttonType": "submit",
                    "buttonName": "Join",
                    "buttonTab": "false"})
              </form>
              <ul class="footer__connect-list">
                  <li class="footer__connect-item"><a class="footer__connect-link icon-facebook" href="https://facebook.com/" aria-label="share on facebook"></a></li>
                  <li class="footer__connect-item"><a class="footer__connect-link icon-twitter" href="https://twitter.com/" aria-label="share on twitter"></a></li>
                  <li class="footer__connect-item"><a class="footer__connect-link icon-pinterest" href="https://pinterest.com/" aria-label="share on pinterest"></a></li>
                  <li class="footer__connect-item"><a class="footer__connect-link icon-instagram" href="https://instagram.com/" aria-label="share on instagram"></a></li>
              </ul>
          </section>
      </div>
      <div class="box free-column">
      <section class="rating column">
          <h2 class="visually-hidden">Company Rating</h2>
          <div class="rating-group">
              <input class="rating__input" type="radio" name="star" id="star-5" value="5">
              <label class="rating__star" aria-label="terribly" for="star-5"></label>

              <input class="rating__input" type="radio" name="star" id="star-4" value="4">
              <label class="rating__star" aria-label="below average" for="star-4"></label>

              <input class="rating__input" type="radio" name="star" id="star-3" value="3">
              <label class="rating__star" aria-label="acceptable" for="star-3"></label>

              <input class="rating__input" type="radio" name="star" id="star-2" value="2">
              <label class="rating__star" aria-label="good" for="star-2"></label>

              <input class="rating__input" type="radio" name="star" id="star-1" value="1">
              <label class="rating__star" aria-label="excellent" for="star-1"></label>
              Company Rating
          </div> 
      </section>
      <p class="column copyright">Copyright &copy; 2018 Dlk • Design Life Kids;</p>
      <a class="column designer" href="https://directline.digital/" target="_blank">Web Design — Direct Line Development</a>
      </div>
      </div>
</footer>
