<header class="container header">
    <a class="header__link" href="/index.html">
        <img class="header__logo" src="./img/icons/dlk-logo.svg" alt="DLK logo">
    </a>
    <nav class="header__menu">
        <ul class="header__menu-list">
            <li class="header__menu-item">
                <a class="header__menu-link" href="/blog.html" target="_blank">BLOG</a>
            </li>
            <li class="header__menu-item">
                <a class="header__menu-link" href="/catalog.html" target="_blank">CATALOG</a>
            </li>
            <li class="header__menu-item">
                <a class="header__menu-link" href="#">ABOUT US</a>
            </li>
        </ul>
    </nav>
    <a class="header__contact-link icon-search" href="/contact.html">CONTACT US</a>
</header>