<header class="container header">
    <a class="header__link" href="/index.html">
        <img class="header__logo" src="./img/icons/dlk-logo.svg" alt="DLK logo">
    </a>
    <nav class="header__menu">
        <ul class="header__menu__list">
            @@include('blocks/header__menu__item.html',
            {"menuLink": "/catalog.html",
            "menuLinkName": "CATALOG"})
            @@include('blocks/header__menu__item.html',
            {"menuLink": "#",
            "menuLinkName": "ABOUT US"})
            @@include('blocks/header__menu__item.html',
            {"menuLink": "/blog.html",
            "menuLinkName": "BLOG"})
            @@include('blocks/header__menu__item.html',
            {"menuLink": "/animation.html",
            "menuLinkName": "ANIMATION"})
            @@include('blocks/header__menu__item.html',
            {"menuLink": "/svg.html",
            "menuLinkName": "SVG"})
        </ul>
    </nav>
    <a class="header__contact-link icon-search" href="/contact.html">CONTACT US</a>
</header>