<a href="#">
    <svg class="nav__link-vector" width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16 2L3 15L16 28" stroke="#1E0606" stroke-opacity="0.12" stroke-width="4"/>
    </svg>
</a>
    <div class="">
        <a class="nav__link link--active" href="#">1</a>
        <a class="nav__link" href="#">2</a>
        <a class="nav__link" href="#">3</a>
        <a class="nav__link" href="#">4</a>
    </div>
<a href="#">
    <svg class="nav__link-vector" width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 2L15 15L2 28" stroke="#1E0606" stroke-opacity="0.12" stroke-width="4"/>
    </svg>
</a>